<h1>Futures</h1>
{% if quotes %}
    {% for asset_type in quotes %}
        <h2>{{ asset_type.name }}</h2>
        {% for basic_asset in asset_type.values %}
            <h3>{{ basic_asset.name }}</h3>
            <table>
            {% for row in basic_asset.values %}
                <tr>
                    {% for col in row %}
                    <td>{{ col }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </table>
        {% endfor %}
    {% endfor %}
{% else %}
    <p>No quotes are available.</p>
{% endif %}